$blue: #2196f3;
$light-blue: #00c1ff;
$gray: #f9f9f9;

$primary: $blue;
$secondary: $light-blue;

// navbar icon

// import bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
