@import "custom";
@import "../navbar/navbar";
@import "../main/main";
@import "../stack/stack";

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  letter-spacing: 0.2rem;
}

p {
  letter-spacing: 0.1rem;
}
