@import "custom";
@import "../navbar/navbar";
@import "../main/main";
@import "../stack/stack";
@import "../contact/contact";
@import "../work/work";
@import "../footer/footer";

* {
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
}

h1 {
  letter-spacing: 0.2rem;
}

p {
  letter-spacing: 0.1rem;
}

.nav-link {
  cursor: pointer;
}
