main {
  margin-top: 10vh !important;
  padding: 3.5rem 0 9rem 0;
}

h1 {
  color: $primary;
  letter-spacing: 0 !important;
}

@import "../sass/animations";

#software-engineer {
  color: $secondary;
}

.cta-btn {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

.social-icons {
  margin-top: 1.4rem;

  .social-icon {
    width: 2rem;

    img {
      width: 100%;
      filter: grayscale(100%);

      &:hover {
        filter: none;
      }
    }
  }
}
